body {
    margin: 0;
    padding: 0;

    background: #282622;
}

*, .mapboxgl-ctrl-geocoder--input {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* @font-face { 
    font-family: 'Aku & Kamu';
    font-style: normal;
    font-weight: normal;
    src: local('Aku & Kamu'), url('AKU&KAMU.woff') format('woff');
} */

#gradient-backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    /* background: linear-gradient(90deg, #282622 0%, transparent 30%, transparent 70%, #282622 100%); */
    background: radial-gradient(circle, transparent 60%, #272522 100%);
    /* box-shadow: inset 0px 60px 100px 50px #272522; */
}