body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', 'Roboto', sans-serif;
}

#backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 2;
    visibility: hidden;
}

body.show-city-picker #backdrop {
    visibility: visible;
}