/* #backdrop { */
#backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .7;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.theme-light #backdrop {
    background: #ffffff;
}

.theme-dark #backdrop {
    background: #211F1C;
}

#closeBtn {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: 20px;
}

body #backdrop,
body #backdrop * {
    visibility: hidden;
}

body.show-city-picker #backdrop,
body.show-city-picker #backdrop * {
    visibility: visible;
}


/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
    .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder {
      top: 20%;
    }

    #closeBtn {
      top: 20%;
    }
}