/* #backdrop { */
#backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .9;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.theme-light #backdrop {
    background: #ffffff;
}

.theme-dark #backdrop {
    background: #1a1a1a;
}

#closeBtn {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: 20px;
}

body #backdrop,
body #backdrop * {
    visibility: hidden;
}

body.show-city-picker #backdrop,
body.show-city-picker #backdrop * {
    visibility: visible;
}



/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
    .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder {
        top: 80px;
        width: 90%;
        margin-left: -45%;
        font-size: 16px;
        padding: inherit;
    }

    #closeBtn {
        top: 70px;
    }

    .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder--icon-search {
        top: 15px;
        left: 12px;
        width: 22px;
        height: 22px;
    }
}