.layers-panel {
    position: fixed;
    top: 84px;
    right: 10px;
    background: white;
    padding: 8px 0;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    width: 200px;
}

.layer-row {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
}

.layer-row > div {
    display: flex;
    align-items: center;   
}

.layer-row:hover {
    background: #fafafa;
}

.layer-miniature {
    min-width: 24px;
    margin-right: 4px;
    display: inline-block;
}

.layer-name {
    margin: 0 4px;
    line-height: 1.2em;
}