.element {
  animation: pulse 5s infinite;
}

.layers-panel {
    position: fixed;
    bottom: 40px;
    left: 12px;
    border-radius: 4px;
    /* width: 250px; */
    color: white;

    /* top: 84px;
    right: 10px; */
    /* background: white; */
    /* box-shadow: 0 0 10px 2px rgba(0,0,0,.1); */

    transition: background .2s ease-out;
}

.layers-panel:hover {
    background: rgba(0,0,0,0.6);
}

.layer-row {
    /* display: flex; */
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;

    transition: background .2s ease-out;
}

.layer-row > div {
    display: flex;
    align-items: center;   
}

.layer-row:hover {
    background: rgba(255,255,255,0.2);
}

.layer-miniature {
    min-width: 24px;
    max-width: 250px;
    margin-right: 4px;
    display: inline-block;
}

.layer-name {
    font-weight: 500;
}

.layer-length {
    font-size: 11px;
}

.ant-popover-inner-content {
    background: #333;
    color: white;
}

.ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow {
    border-bottom-color: #333;
    border-left-color: #333;
}

.layer-row .ant-switch {
    /* display: none; */
    opacity: 0;
}

.layer-row:hover .ant-switch {
    opacity: 1;
}


/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
    .layers-panel {
        left: 0;
    }
    
    .layer-row {
        font-size: 12px;
        padding: 2px 8px;
    }
    
    .layer-name {
        font-weight: 300;
    }

    .layer-length {
        display: none;
    }

    .ant-tooltip,
    .ant-popover-inner-content,
    .layer-row .ant-switch {
        display: none;
    }

    .layer-miniature {
        min-width: 12px;
    }
}