@keyframes popupFadeIn {
  0%   {
    transform: translateY(4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0x);
    opacity: 1;
  }
}

.mapboxgl-popup > div {
  animation: popupFadeIn 300ms ease-out;
}

.popup-big .mapboxgl-popup-content {
  padding: 24px 16px;
  min-width: 420px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
  border-radius: 12px;
}

.popup-big .mapboxgl-popup-close-button {
  font-size: 18px;
  width: 42px;
  height: 42px;
  color: white;
}

.theme-light .popup-big .mapboxgl-popup-close-button {
  color: black;
}

.theme-dark .popup-big .mapboxgl-popup-content {
  background: #333;
  color: white;
}

.theme-light .popup-big .mapboxgl-popup-content {
  background: #ffffff;
}

.theme-dark .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #333;
}

.theme-dark .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #333;
}

.theme-light .popup-big .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #ffffff;
}

.theme-light .popup-big .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #ffffff;
}

.popup-big.proibido .mapboxgl-popup-content { background: #F56565; }
.popup-big.proibido .mapboxgl-popup-tip { border-top-color: #F56565; }
.popup-big.proibido .mapboxgl-popup-tip { border-bottom-color: #F56565; }
.popup-big.proibido .mapboxgl-popup-close-button { color: black; }

.popup-big.trilha .mapboxgl-popup-content { background: #996633; }
.popup-big.trilha .mapboxgl-popup-tip { border-top-color: #996633; }
.popup-big.trilha .mapboxgl-popup-tip { border-bottom-color: #996633; }
.popup-big.trilha .mapboxgl-popup-close-button { color: black; }

.popup-big.baixa-velocidade .mapboxgl-popup-content { background: #FF8A00; }
.popup-big.baixa-velocidade .mapboxgl-popup-tip { border-top-color: #FF8A00; }
.popup-big.baixa-velocidade .mapboxgl-popup-tip { border-bottom-color: #FF8A00; }
.popup-big.baixa-velocidade .mapboxgl-popup-close-button { color: black; }

.popup-big.ciclorrota .mapboxgl-popup-content { background: #E76F51; }
.popup-big.ciclorrota .mapboxgl-popup-tip { border-top-color: #E76F51; }
.popup-big.ciclorrota .mapboxgl-popup-tip { border-bottom-color: #E76F51; }
.popup-big.ciclorrota .mapboxgl-popup-close-button { color: black; }

.popup-big.calcada-compartilhada .mapboxgl-popup-content { background: #E9C46A; }
.popup-big.calcada-compartilhada .mapboxgl-popup-tip { border-top-color: #E9C46A; }
.popup-big.calcada-compartilhada .mapboxgl-popup-tip { border-bottom-color: #E9C46A; }
.popup-big.calcada-compartilhada .mapboxgl-popup-close-button { color: black; }

.popup-big.ciclofaixa .mapboxgl-popup-content { background: #A1C181; }
.popup-big.ciclofaixa .mapboxgl-popup-tip { border-top-color: #A1C181; }
.popup-big.ciclofaixa .mapboxgl-popup-tip { border-bottom-color: #A1C181; }
.popup-big.ciclofaixa .mapboxgl-popup-close-button { color: black; }

.popup-big.ciclovia .mapboxgl-popup-content { background: #10B981; }
.popup-big.ciclovia .mapboxgl-popup-tip { border-top-color: #10B981; }
.popup-big.ciclovia .mapboxgl-popup-tip { border-bottom-color: #10B981; }
.popup-big.ciclovia .mapboxgl-popup-close-button { color: black; }


/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
  .popup-big.mapboxgl-popup {
    position: fixed;
    bottom: 8px;
    left: 8px;
    right: 8px;
    transform: none !important;
    top: unset;
    z-index: 10;
    /* box-shadow: 0 -8px 30px #1c1a17; */
  }

  /* .popup-big .mapboxgl-popup-content .-mb-2.mt-10 {
      display: none;
  } */

  .popup-big .mapboxgl-popup-tip {
      display: none;
  }

  .popup-big .mapboxgl-popup-content {
      min-width: auto;
      width: calc(100vw - 16px);
  }
}

/* Reset default styles from Mapbox */
.route-tooltip-popup .mapboxgl-popup-content {
  background: inherit;
  padding: inherit;
  box-shadow: inherit;
}