@keyframes popupFadeIn {
  0%   {
    transform: translateY(4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0x);
    opacity: 1;
  }
}

.mapboxgl-popup > div {
  animation: popupFadeIn 300ms ease-out;
}

.theme-light .mapboxgl-popup-tip {
  border-top-color: white;
  border-bottom-color: white;
}

.theme-dark .mapboxgl-popup-tip {
  border-top-color: black;
  border-bottom-color: black;
}

.popup-big.mapboxgl-popup {
  --popup-bg-color: black;
  --popup-text-color: white;
}

.popup-big .mapboxgl-popup-content {
  background: var(--popup-bg-color);
  color: var(--popup-text-color);
}

.popup-big .mapboxgl-popup-content {
  padding: 24px 16px;
  min-width: 420px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
  border-radius: 12px;
}

.popup-big .mapboxgl-popup-close-button {
  font-size: 18px;
  width: 42px;
  height: 42px;
  color: var(--popup-text-color);
}

.popup-big.mapboxgl-popup .mapboxgl-popup-tip {
  border-top-color: var(--popup-bg-color);
  border-bottom-color: var(--popup-bg-color);
}

.theme-dark .popup-big.mapboxgl-popup {
  --popup-bg-color: black;
  --popup-text-color: white;
}

.theme-light .popup-big.mapboxgl-popup {
  --popup-bg-color: white;
  --popup-text-color: black;
}

/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
  .popup-big.mapboxgl-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: none !important;
    top: unset;
    z-index: 10;
    max-width: 100% !important;
    /* box-shadow: 0 -8px 30px #1c1a17; */
  }

  /* .popup-big .mapboxgl-popup-content .-mb-2.mt-10 {
      display: none;
  } */

  .popup-big .mapboxgl-popup-tip {
      display: none;
  }

  .popup-big .mapboxgl-popup-content {
    min-width: auto;
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Reset default styles from Mapbox */
.route-tooltip-popup .mapboxgl-popup-content {
  background: inherit;
  padding: inherit;
  box-shadow: inherit;
}