.loader-container {
    --green: #008744;
    --blue: #0057e7;
    --red: #d62d20;
    --yellow: #ffa700;
    --white: #eee;
    
    --width: 30px;

    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    background: rgba(0,0,0,0.1); */

    display: inline-block;
} 

.loader {
  position: relative;
  margin: 0 auto;
  width: var(--width);
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader .circular {
  animation: rotate 1.5s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader .circular .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: var(--red);
  }
  40% {
    stroke: var(--blue);
  }
  66% {
    stroke: var(--green);
  }
  80%,
  90% {
    stroke: var(--yellow);
  }
}