.react-icon {
    display: inline-block;
    font-size: 1em;
    height: 1em;
    width: auto;
}
.react-icon:not(:only-child) {
    margin-right: 4px;
}

/* Logo styling for light mode */
.logo-svg {
    transition: fill 0.3s ease;
}

.theme-dark .logo-svg {
    color: #A7C957;
}

.theme-light .logo-svg {
    color: #386641;
}

@media (min-width: 1400px) {
    .city-picker {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
    .city-picker {
        position: relative;
        transform: none;
        left: auto;
    }
}